@model Diplom.Models.Instruction

@{
    ViewData["Title"] = "Просмотр инструкции";
}
<div class="conteiner">
    <h1>@Html.DisplayFor(m=> m.Name)</h1>
    <p><strong>Описание: @Html.DisplayFor(m=> m.Description)</strong></p>
    <hr />
    <div class="row">
        @Html.Raw(Model.Content)
    </div>
    <hr />

    <a asp-action="Edit" asp-route-id="@Model?.ID">Редактировать</a> |
    <a asp-action="Index">Все статьи</a>
</div>
