@model Diplom.Models.Instruction

@{
    ViewData["Title"] = "Просмотр статьи";
}
<div class="conteiner">
    <h1>@Html.DisplayFor(m=> m.Name)</h1>
    <p><strong>Описание статьи: @Html.DisplayFor(m=> m.Description)</strong></p>
    <hr />
    <div>
        @Html.Raw(Model.Content)
    </div>
    <hr />

    <a asp-action="Edit" asp-route-id="@Model?.ID">Редактировать</a> |
    <a asp-action="Index">Все статьи</a>
</div>
