@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Доступ запрещён";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Эту страницу могут просматривать только сотрудники организации. Если вы являетесть сотрудником - запросите доступ у администратора.</p>
</header>
