@model Diplom.Models.Goal

@{
    ViewData["Title"] = "Редактирование задачи";
}

<h1>Редактирование задачи</h1>

<h4>@Html.DisplayFor(m=>m.Name)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control" rows="8"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="TaskDate" class="form-label"></label>
                <input asp-for="TaskDate" class="form-control" />
                <span asp-validation-for="TaskDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Priority" class="form-label"></label>
                <select asp-for="Priority" class="form-select" asp-items="Html.GetEnumSelectList<Diplom.Models.Enums.TaskPriority>()">
                    <option selected="selected" value="">--Не выбран--</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="IsCompleted" class="form-check-label"></label>
                <div>
                    <input asp-for="IsCompleted" class="form-check-input" />
                    <label class="form-check-label" asp-for="IsCompleted">Завершена</label>
                </div>
                <span asp-validation-for="IsCompleted" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Отмена</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
