@model Diplom.Models.Device

@{
    ViewData["Title"] = "Добавление оборудования";
}

<h1>Добавить</h1>

<h4>Параметры оборудования</h4>
<hr />


<form enctype="multipart/form-data" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ImageFile" class="control-label"></label>
        <input asp-for="ImageFile" type="file" accept=".jpg, .png, .pdf" class="form-control" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DocumentationFile" class="control-label"></label>
        <input asp-for="DocumentationFile" type="file" accept=".jpg, .png, .pdf" class="form-control" />
        <span asp-validation-for="DocumentationFile" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="QuantityInStock"></label>
        <input asp-for="QuantityInStock" class="form-control" />
        <span asp-validation-for="QuantityInStock" class="text-danger"></span>
    </div>
    <div class="col-md-offset-2 col-md-10">
        <label asp-for="DevicePlacements"></label>
        <table class="table">
            <tr>
                @{
                    int cnt = 0;
                    List<Diplom.Models.ViewModels.AssignedPlacementData> placements = ViewBag.AllPlacements;

                    foreach (var place in placements)
                    {
                        if (cnt++ % 3 == 0)
                        {
                            @:</tr><tr>
                        }
                        @:<td>
                            <input type="checkbox"
                                   name="selectedPlacements"
                                   value="@place.PlacementID"
                                   @(Html.Raw(place.Assigned ? "checked=\"checked\"" : "")) />
                                     @place.Title
                        @:</td>
                    }
                    @:</tr>
                }
        </table>
    </div>

    <div class="form-group mb-3">
    <label asp-for="AnalogDevice">Выбор аналогов:</label>
    <select name="selectedAnalogDevices" asp-items="@ViewBag.AnalogDevices" class="form-control" multiple>
        <option value="">-- Нет аналогов --</option>
    </select>
    <span asp-validation-for="AnalogDevice" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}